/* src/Gallery.css */

.gallery-container {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
    color: #666;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
    font-size: 13px;
  }
  
  .categories button {
    padding: 10px 15px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    position: relative; /* Required for positioning the underline */
    width: 120px;
    height: 45px;
    font-size: 16px;

  }
  
  .categories button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg,#f16dcb,#f16dcb);
    transition: width 0.3s ease;
  }
  
  
  .categories button.active::after {
    width: 100%;
  }
  
  .gallery-grid {
    display: flex;
    flex-direction: column; /* Display as columns */
    gap: 20px;
  }
  
  .gallery-row {
    display: flex;
    gap: 20px;
  }
  
  .gallery-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .large-column {
    flex: 2;
  }
  
  .small-column {
    flex: 1;
  }
  
  .gallery-item {
    position: relative;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }
  
  .large-image img {
    height: 400px; /* Full height for large images */
  }
  
  .small-image img {
    height: 190px;
  }
  
  .video-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .video-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .video-column {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    flex: 1;
  }
  
  .video-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
  }
  
  .video-item iframe {
    border-radius: 8px;
  }
  
  .video-content {
    flex: 1;
    text-align: left;
  }
  



 .load-more {
    padding: 10px 15px;
    background: linear-gradient(90deg, #f16dcb,#f16dcb);
    border: none;
    border-radius: 15px;
    margin: 20px auto;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    transition:background 0.3s ease;
    
  }
  
  .load-more:hover {
    background: linear-gradient(90deg, #ed39ba, #ed39ba);
  }
  
  